

body {
	background:rgb(26, 37, 63);
	background-size:cover;
font-family: 'Amatic SC', cursive;

	
}
.Header {
	//background-color: rgb(242, 185, 174);
	opacity:0.8;
	border-bottom: 0.2cm solid rgb(242, 185, 174);
	border-top: 0.2cm solid rgb(242, 185, 174);
//	border-radius: 50%;
	width: 45%;
	height: 20%;
	display: -webkit-inline-box;
	float: unset;
	margin-top: 40px;
	margin-left: 20px;

	
}
.hero {
	width:500px;
	margin-bottom: 60px;
	height: 400px;
	display: flex;
	float: left;
}
h1{
	text-align: center;
	color:rgb(242, 185, 174);
	font-size: 35px;
}

.sign {
	color: rgb(26, 37, 63);

    display: flow-root;
    float: unset;
    padding-left: 15%;
}

.hidden {
	display: none;
}


@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: rgb(26, 37, 63);
transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
	  
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
 
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing( rgb(242, 185, 174),  rgb(26, 37, 63), 4px, bottom, right);
}

.draw-border-two {

  @include btn-border-drawing(none,rgb(242, 185, 174), 4px, bottom, right);
}



//=== Button styling, semi-ignore
.btn{
display:block !important;
	color:rgb(242, 185, 174)!important;
	background-color: rgb(26, 37, 63)!important;
	opacity: 0.85!important;
	height: 50px!important;
	font-size: 25px!important;
	width:100px!important;
	text-align: center!important;
 //padding: 1em 1em  !important;
  letter-spacing: 0.07rem!important;
	font-weight: 1000!important;
	margin-top: 10px;
	margin-bottom: 20px;
	font:400 75px 'Amatic SC', cursive;
	box-sizing: border-box;
border: 0 solid transparent;

}

.btn2 {
display:block;
font-size: 10px;
	opacity: 0.75;
border:none;
	width: 35px;
	text-align: center;
  padding: 1em 1em;
  letter-spacing: 0.05rem;
	font-weight: 1000;
  color: rgb(242, 185, 174);

}

.hidden { display:none; }


h2 {
	font-size: 10px;
	color:rgb(242, 185, 174);
}

.upButton{
	
	color:rgb(242, 185, 174);
} 


