


body {
	font-family: 'Amatic SC', cursive;

}



.sign-in-main{
	width: 50%;
	border: none;
	float: right;
	height:20%;
}

fieldset {
	border: none;
	display: inline-grid;

}

h4{
	color: black;
	display: flex;
float: right;
	margin-top: 20px;
	margin-right: 35%;
	letter-spacing: 0.05rem;
	
}