


body {
	font-family: 'Amatic SC', cursive;

}



.sign-in-main{
	width: 50%;
	border: none;
	float: right
}

fieldset {
	border: none;
	display: inline-flex;
	margin-top: -30px;
	padding-bottom:-100px;
}

h4{
	color: black;
	display: flex;
float: right;
	margin-top: 20%;
	margin-right: 35%;
	letter-spacing: 0.05rem;
	
}