


body {
	font-family: 'Amatic SC', cursive;

}



.signup-page, sign-up-main{
	width: 50%;
	border: none;
	float:right;
}

.sign-up-fieldset {
	border: none;
	display: inline-flex;
margin-top: -54%;
	margin-left: 10%
}

h3 {
	color: black;
	display: flex;
float: right;
	margin-top: -60%;
	margin-right: 35%;
	letter-spacing: 0.05rem;
	
}

ul{
	color: white;
	list-style: none;
	margin-left: -12%;
}