


body {
	font-family: 'Amatic SC', cursive;
color: white;
}



.signup-page, sign-up-main{
	width: 60%;
	border: none;

	display: inline-block;
}

.sign-up-fieldset {
	border: none;
	//display: inline-flex;

	
}

h3 {
	color: rgb(242, 185, 174);
	display: flex;



	letter-spacing: 0.05rem;
	
}

ul{
	color: white;
	list-style: none;
	margin-left: -12%;
}